#name-input {
  width: 360px;
  padding: 8px 16px;
  border: 1px #808080 solid;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

#name-input:hover {
  border-color: #212121;
}

#name-input::placeholder {
  color: #212121;
}
